
.outerdiv:focus-within
{
   
   outline: 3px solid #d400ff;
  
}
.outerdiv{
    display: flex;
    border-radius: 6px;
    max-width: 260px;
    border:.5px solid black;
}
.container
{
    width:100%;
}
.search_input
{
    outline: none;
    border: none;
}
